h1 {
    text-align: center;
}
body {
    background-color: rgb(235, 202, 113);
}
#mainContent {
    border-style: solid;
    background-color: rgb(44, 99, 201);
    width: 60%;
    margin: auto;
    padding: 10px
}
a:link {
color: black;
}
a:visited {
color: white; 
}
a:hover {
color: black;
}
a:active {
color: black;
}
img{
    display: block;
    margin: auto;
}
table{
    width: 60%;
    margin: auto;
    padding: 10px
}
nav{
    border-style: solid;
    background-color: tan;
    width: 60%;
    margin: auto;
    padding: 10px;
    margin: bottom: 20px;
    text-color: black;
}